flask==2.2.5
itsdangerous==2.1.2
werkzeug==2.2.3
jinja2==3.1.2
markupsafe==2.1.3
click==8.1.3
pywin32==306
ippserver==0.1.6
zeroconf==0.47.4
pypdf==3.17.4
pdfplumber==0.10.3
pymupdf==1.21.1
pillow==9.5.0
pytesseract==0.3.10
psutil==5.9.8
